input.demo {
  border: 2px solid black;
  width: 300px;
  height: 30px;
  font-size: 25px;
  padding: 5px;
}

.demo {
  text-align: center;
}

.courses {
  display: grid;
  justify-items: center;
}