<div>
  <!--<h1>Welcome {{ data.name }}</h1>
  <h3>You are taking the {{ data.course }} course</h3>

  <p>You started this course on {{ data.started }}</p>
  <ul>
    <li>item 1</li>
    <li>item 2</li>
  </ul> 
  <div>
    <img 
      width="300" 
      alt='angular logo' 
      (click)='onLogoClicked()'
      src="https://www.zazzle.com/rlv/angularjs_shield_logo_ceramic_tile-r0188a63b5bcb4014b7fb3974f5cf3a77_agtk1_8byvr_324.jpg">
  </div>

  <input 
    class='demo' 
    (keyup)='onKeyUp(titleInput.value)'     
    [value]='data.course' 
    #titleInput>
      <!-- titleInput.value is going to grab the current value of the input  --

  -->
    <nav-bar></nav-bar>

    <!-- <div class='demo'>
      <!-- <div>Start Date: {{ startDate | date: 'dd MMM yyyy' }}</div> -->
      <!-- String Pipes -->
      <!-- <div> {{ title | uppercase }}</div>
      <div> {{ title | lowercase }}</div>
      <div> {{ title | titlecase }}</div> -->
      <!-- Number Pipes -->
      <!-- <div> {{ price | number: '3.3-5'}}</div> determines how many digits are before and after decimal point  -->
      <!-- <div> {{ price | currency}}</div>
      <div> {{ price | currency: 'EUR'}}</div>
      <div> {{ price | currency: 'GBP'}}</div>
      <div> {{ rate | percent }}</div> -->
      <!-- Data pipes -->
      <!-- {{ courses | json}} -->
      <!-- <div 
        *ngFor='let pair of course | keyvalue;'
      >
        {{ pair.key + ': ' +  pair.value }}
      </div> --
    </div> -->
    
    <div class='courses' >
      <course-card 
        *ngFor="let course of courses | slice:0:4; index as i;"        
        (courseSelected)='onCourseSelected($event)'
        [course]="course"
        [cardIndex]='i + 1'>
      </course-card>
     
    </div>
</div>