/* Add application styles & imports to this file! */
:root {
  --ravenclaw-blue: #222f5b;
  --ravenclaw-bronze: #946b2d;
  --ravenclaw-silver: #5d5d5d;
}

body, html, * {
  font-family: 'Philosopher', sans-serif;
  margin: 0;
  padding: 0;
}

course-card.is-first {
  border-top: 2px solid grey;
  padding-top: 40px;
}

course-card.is-last {
  border-bottom: 2px solid grey;
  padding-top: 40px;
}

course-card.is-even {
  background: lightgray;
}

course-card.is-odd {
  background: lightcyan;
}